footer
  hr
  .d-flex-block
    .brand-name DREAMSHARE
    .nav-d-flex
      .company Company
      .menu-link-1
        .menu-nav-1
          nav About
          nav Contact
          nav Press
          nav Blog
        .menu-nav-1
          nav Terms and Privacy
          nav Help
    .partners Partners
    .design-logo
      .design DESIGNED BY
      .logo