header
  .img-logo
    .logo-link-menu
      .dreamshare.d-none.d-md-block.d-xl-block.d-lg-block
        | dreamshare
      .register-form
        .log-in Log in
        .sign-up Sign up
      .dreamshare-2.col-sm-12.col-xs-12.d-md-none.d-xl-none.d-lg-none
        | dreamshare
    .header-text-info
      .header-logo-text SHARE YOUR HOLIDAY DREAM
      .logo-text
        | And find the perfect partner to fullfill it
      .button-header Find your holiday partner



          
       