extends common/layout

block content 
    main.main 
        section
            .header-main-text How Dreamshare works?
            .img-steps
                .step-1
                    .button-step-1 STEP 1
                    .header-step-1 Sed leo enim, condimentum
                    .content-step-1
                        | Quisque libero libero, dictum non turpis in, luctus semper lorem.
                        | Donec rhoncus a leo sit amet facilisis.
                .step-2
                    .button-step-2 STEP 2
                    .header-step-2 Morbi velit risus
                    .content-step-2
                        | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus,
                        | sit amet porttitor est.
                .step-3
                    .button-step-3 STEP 3
                    .header-step-3 Sed leo enim, condimentum
                    .content-step-3
                        | Quisque libero libero, dictum non turpis in, luctus semper lorem.
                        | Donec rhoncus a leo sit amet facilisis.
        section
            .header-main-text Meet a partner for your best holiday
            .img-avatars
                .block-avatar-1
                    .d-flex-center
                        .avatar1
                            .music-img
                    .name-avatar-1 Bradley Hunter
                    .content-avatar-1
                        | Based in Chicago. I love playing tennis and loud music.

                .block-avatar-2
                    .d-flex-center
                        .avatar2
                            .brush-img
                    .name-avatar-2 Marie Bennett
                    .content-avatar-2
                        | Currently living in Colorado. Lover of art, languages and
                        | travelling.

                .block-avatar-3
                    .d-flex-center
                        .avatar3
                            .camera-img
                    .name-avatar-3 Diana Wells
                    .content-avatar-3
                        | Living in Athens, Greece. I love black and white classics,
                        | chillout music and green tea.

                .block-avatar-4
                    .d-flex-center
                        .avatar4
                            .plane-img
                    .name-avatar-4 Christopher Pierce
                    .content-avatar-4
                        | Star Wars fanatic. I have a persistent enthusiasm to create new
                        | things.

            .button-see-all See other partners
        section
            .header-main-text Discover holiday activity ideas
            .img-activities-group-1
                .img-sport
                    .header-sport Sports and Activis
                .img-health
                    .header-health Wellness and Health
                .img-extreme
                    .header-extreme Extreme Sports and Expeditions
            .img-activities-group-2
                .img-games
                    .header-games Games
                .img-culture
                    .header-culture Culture and Education
            .img-activities-group-3
                .img-relax
                    .header-relax Enjomet and Relaxation
                .img-travel
                    .header-travel Travelling
        section
            .header-main-text Create your holiday activity
            .anketa Hi! What are your holiday interests?
            .form
                input(type='text' placeholder='Enter your insterests')
                .button-search Search partners

